.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__email {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.header__button {
  padding: 0;
  border: 0;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }

  .header__link {
    margin: 0 7px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}